/* Da cambiare vertical align negativo */
.bi {
    fill: currentColor;
}

/* Da cambiare margin top negativo */
.nav {
    display: flex;
    flex-wrap: nowrap;
    padding: 0.5rem;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

/* Da cambiare margin top negativo*/
.order-bar-list {
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    list-style-type: none;
}

/* Da cambiare vertical negativo */
.button-svg-search {
    width: 16px;
    height: 16px;
    background-color: white;
}

/* Da cambiare margin negativo*/
.search-button {
    border: none;
    background-color: white;
}