/* Da cambiare vertical align negativo */
.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

/* Da cambiare margin top negativo */
.nav {
    display: flex;
    flex-wrap: nowrap;
    padding: 0.5rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

/* Da cambiare margin top negativo*/
.order-bar-list {
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    list-style-type: none;
}

/* Da cambiare margin negativo*/
.btn-remove-product {
    margin-left: -13px !important;
    margin-top: -5px;
}

/*To be changed*/
.nav-nested {
    list-style-type: none;
    padding-left: 0;
    font-size: 60%;
}

/* Da cambiare vertical negativo */
.button-svg-search {
    width: 16px;
    height: 16px;
    background-color: white;
    vertical-align: -.15rem;
}

/* Da cambiare margin negativo*/
.search-button {
    border: none;
    background-color: white;
    margin-left: -4px;
}

/*To be changed*/
.responsive {
    width: 100%;
    max-width: 120px;
    height: auto;
}