.bi {
    fill: currentColor;
}

.text-small {
    font-size: 85%;
}

.nav {
    display: flex;
    flex-wrap: nowrap;
    padding: 0.5rem;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.footer-list-decor {
    text-decoration: underline solid #dc3545 2px;
}

.section-list-decor {
    text-decoration: underline solid #dc3545 2px;
}

.nav-nested-item {
    text-decoration-line: none !important;
    font-size: 60%;
}

.nav-nested-item-footer {
    text-decoration-line: none !important;
    font-size: 75%;
    list-style-type: none;
    padding-left: 0;
}

.nav-nested-item-cart {
    list-style-type: none;
    padding-left: 0;
    font-size: 85%;
}

.line-break-custom {
    white-space: pre-line;
}

.format-custom {
    text-align:justify;
}

.vertical-align-top {
    vertical-align: top;
}

.button-boxless {
    background:none;
    border:none;
    cursor: pointer;
    text-align: start;
}

.responsive {
    width: 80%;
    max-width: 100px;
    height: auto;
}

.button-svg {
    width: 24px;
    height: 24px;
}

.footer-container {
    background-color: rgb(167, 167, 167);
}

.border-bottom-header {
    border-bottom: solid #dc3545 1px;
}

.text-visibility {
    display: none;
}

.order-bar-list {
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    list-style-type: none;
}

table {
    border: none;
}

.order-table-header {
    background-color: #dc3545;
}

.no-wrap-final-price {
    white-space: nowrap;
}

.horizontal-line {
    width: 70%;
    margin-right: 4%;
    margin-left: 26%;
    color: #dc3545;
    border-top: solid 3px;
}

.visuallyhidden {
    display: none;
}

.product-cart-image {
    width: 80%;
    min-width: 40px;
    max-width: 200px;
    height: auto;
}

.search-bar-name {
    padding-bottom: 1rem;
    font-size: 2rem;
}

.bg-color-custom {
    background-color: rgb(167, 167, 167);
}

.nav-nested {
    list-style-type: none;
    padding-left: 0;
    font-size: 60%;
}

.button-svg-search {
    width: 16px;
    height: 16px;
    background-color: white;
}

.nav-search-link {
    padding: 0;
    cursor: pointer;
}

.search-button {
    border: none;
    background-color: white;
}

.search-container {
    float: none;
    display: block;
    text-align: left;
}

.search-input-bar {
    border: none;
    width: 40vw;
    min-width: 220px;
}

.font-section {
    font-family: 'Times New Roman', Times, serif;
}

.nav-link-product {
    width: 12px;
    height: auto;
}

.product-overview-image {
    width: 80%;
    min-width: 80px;
    max-width: 350px;
    height: auto;
}

.product-search-result-image {
    width: 60%;
    min-width: 80px;
    max-width: 200px;
    height: auto;
}

.home-section-title {
    padding-left: 7%;
    font-size: x-large;
    margin-bottom: 2vw;
    margin-top: 2vw;
}

.nav-nested-padding-search {
    text-decoration-line: none !important;
    font-size: 75%;
    list-style-type: none;
}

.input-quantity-product {
    width: 100%;
    max-width: 70px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.nav-footer {
    text-align: left !important;
}

.box-quantity {
    padding: 10px; 
    border: 1px solid rgb(167, 167, 167);
}