.form-control {
    margin-bottom: 5%;
    border-radius: 0%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
}

div.card {
    max-width: 330px;
}

img.logo-top-bar {
    width: 300px;
}

button.btn {
    background-color: #D70000;
    border: none;
}

button.btn:hover {
    background-color: #D70000;
}

a {
    color: #D70000;
}

a:hover {
    color: #D70000;
}

p.error-occurs {
    color: #D70000;
}