.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.nav {
  display: flex;
  flex-wrap: nowrap;
  padding: 0.5rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.footer-list-decor {
  text-decoration: underline solid red 2px;
}

.nav-nested {
  list-style-type: none;
  padding-left: 0;
}

.nav-nested-item {
  text-decoration-line: none !important;
}

.responsive {
  width: 80%;
  max-width: 100px;
  height: auto;
}

.button-svg {
  width: 24;
  height: auto;
}

.footer-container {
  background-color: rgb(167, 167, 167);
}

.border-bottom-header {
  border-bottom: solid red 1px;
}

.text-visibility {
  display: none;
}