a {
    color: #D70000;
}

a.related-articles {
    color: black;
    text-decoration: none;
    display: inline-block;
}

a.related-articles h5 {
    margin-bottom: 1%;
    margin-top: 0;
}

a.related-articles p {
    margin-bottom: 0;
    margin-top: 0;
}

a:hover {
    color: #D70000;
}

a.related-articles:hover {
    color: black;
    text-decoration: none;
    border: 3px solid #D70000;
}

a.related-articles:hover .autore{
    color: #D70000;
}

a.related-articles:hover .titolo-libro{
    color: #D70000;
}

button.btn {
    background-color: #D70000;
    border: none;
}

button.btn:hover {
    background-color: #D70000;
}

/*Buttons tiny slider*/
[data-controls] {
    border: 0;
    padding: 0;
    font-size: 30px;
    position: absolute;
    top: 50%;
    margin-top: -18px;
    z-index: 1;
    background: transparent;
}
[data-controls="prev"] {
    left: 20px;
}
[data-controls="next"] {
    right: 20px;
}

del {
    text-decoration-color: #D70000;
}

div.card-generic-retrieval,  div.card-generic-login{
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
}

div.container-luca {
    margin-top: 3%;
    margin-bottom: 3%;
}

div.container-slider {
    position: relative;
}

div.form {
    margin-bottom: 3%;
}

div.form-top-button {
    margin-bottom: 2%;
}

div.header-product {
    margin-left: auto;
    margin-right: auto;
}

div.link-generic-retrieval, div.link-generic-login {
    margin-top: 2%;
    margin-bottom: 2%;
}

div.image-product {
    max-width: 40%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
}

div.logo-generic-user-retrieval, div.logo-generic-login {
    margin-top: 3%;
    margin-bottom: 3%;
}

div.product-detail {
    margin-bottom: 5%;
}

div.upload-image {
    margin-bottom: 5%;
}

.form-control {
    margin-bottom: 5%;
    border-radius: 0%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
}

h4.sezione {
    display: inline-block;
    text-decoration: 0.1em solid #D70000 underline;
    margin-bottom: 3%;
}

img {
    max-width: 100%;
}

img.logo-top-bar {
    width: 300px;
}

img.product-img {
    display: block;
    width: 100%;
    max-width: 300px;
    height: auto;
}

input.input-image {
    margin-left: 15%;
    margin-top: 4%;
}

/* Remove input number's slider */
/* Chrome, Safari, Edge, Opera */
input.number-no-slider::-webkit-outer-spin-button,
input.number-no-slider::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input.number-no-slider {
    -moz-appearance: textfield;
}

ins {
    text-decoration: none;
    color: #D70000;
}

label {
    padding-left: 12px;
}

legend.form {
    width: fit-content;
    text-decoration: 0.1em solid #D70000 underline;
    margin-bottom: 3%;
}

p.error-occurs {
    color: #D70000;
}

/*Images related articles*/
.related-articles img {
    width: 150px;
    height: 150px;
}

section {
    margin-bottom: 3%;
}

section.product-header {
    margin-bottom: 2%;
}

table.product-information td {
    text-align: end;
}

table.product-information th {
    padding-right: 5%;
}

textarea {
    width: 100%;
    margin-top: 2%;
}

/*Slider buttons*/
.tns-outer {
    position: relative;
}
/*Slider elements*/
.tns-item{
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

ul.control {
    list-style: none;
}

ul.control li {
    position: absolute;
    z-index: 99;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
}

ul.control li.next {
    right: 20px;
}

ul.control li.prev {
    left: 20px;
}

ul.control li:hover {
    color: #D70000;
    background: #000;
}

