.form-control {
    margin-bottom: 5%;
    border-radius: 0%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
}

label {
    padding-left: 12px;
}

textarea {
    width: 100%;
    margin-top: 2%;
}

input.input-image {
    margin-left: 15%;
}

a {
  color: #D70000;
}

a:hover {
  color: #D70000;
}

legend {
  width: fit-content;
  border-bottom: 3px solid #D70000;
  margin-bottom: 3%;
}

input.input-image {
  margin-top: 4%;
}

div.form {
  margin-bottom: 3%;
}

div.upload-image {
  margin-bottom: 5%;
}

h4.sezione {
  display: inline-block;
  border-bottom: 3px solid #D70000;
  margin-bottom: 3%;
}

button.btn {
  background-color: #D70000;
  border: none;
}

button.btn:hover {
  background-color: #D70000;
}

p.error-occurs {
  color: #D70000;
}

/* Remove input number's slider */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}